.env
.env.local
.env.*.local

/storage/cache/
/storage/student-source/*.xls
/storage/student-source/*.xlsx
/storage/student-source/*.csv
!/storage/cache/.gitkeep
!/storage/student-source/.gitkeep
/uploads/*
!/uploads/.gitkeep

/.codex
/.codex/

*.log
.DS_Store
